/// ----------------------------------------------------------------------------
/// @group Article
/// ----------------------------------------------------------------------------

/// ----------------------------------------------------------------------------
/// Base
/// ----------------------------------------------------------------------------

@mixin mb-article {
  .mb-adm-article {
    @extend %mb-article-base;
    
  }

  %mb-article-base {
    @include mb-article-pattern;
  }
}

/// ----------------------------------------------------------------------------
/// UI Patterns
/// ----------------------------------------------------------------------------

@mixin mb-article-pattern(
  $color-article-background: $color-transparent,
  $sp-article-padding: auto
) {
  background-color: $color-article-background;
  padding: $sp-article-padding;
}

@mixin mb-article-floorplan {
  %mb-article--floorplan {
    @include mb-article-pattern(
      $color-theme--text-inverse-alt,
      size($sp-padding-lg * 1.25)
    )
  }
  
  .mb-adm-article.mb-article--floorplan {
    @extend %mb-article--floorplan;
  }
}

/// ----------------------------------------------------------------------------
/// Export
/// ----------------------------------------------------------------------------

@mixin mb-articles {
  @include mb-article;
  @include mb-article-floorplan;
}