/// ----------------------------------------------------------------------------
/// @group Fieldset
/// ----------------------------------------------------------------------------

/// Fieldset component styles
/// @require {mixin} is-borderless
/// @require {mixin} no-margin
/// @require {mixin} no-padding
%Fieldset {
  @include remove-border;

  @include remove-margin;

  @include remove-padding;
}

/// Component: FormField
/// @require {mixin} flex-justify
%FormField {
  @todo;
}

// Styles

.mb-adm-fieldset {
  @extend %Fieldset;
}

// FormField
.form-field {
  @extend %FormField;
}

.mb-adm-form .column .form-field:not(:last-of-type) {
  margin-bottom: size($sp-padding-lg);
}

.form-container.row .form-field {
  flex-grow: 1;

  &:not(:last-of-type) {
    margin-right: size($sp-md);
  }
}

.mb-form--floorplan-search .form-field {
  @include respond-to($breakpoint-768) {
    @include is-full-width;

    margin-right: 0;
  }
  
  margin-right: size($sp-padding-sm);
}

.mb-form--tour .form-field {
  @include is-full-width;
}

// Responsive Styles

// Desktop

// Tablet

// Mobile
