/// ----------------------------------------------------------------------------
/// Global Breakpoint Settings
/// @group settings-breakpoints
/// ----------------------------------------------------------------------------

$breakpoint-320: 320;
$breakpoint-375: 375;
$breakpoint-414: 414;
$breakpoint-768: 768;
$breakpoint-834: 834;
$breakpoint-960: 960;
$breakpoint-1024: 1024;
$breakpoint-1366: 1366;
$breakpoint-1440: 1440;
$breakpoint-1920: 1920;
