/// ----------------------------------------------------------------------------
/// Global Placeholder Settings
/// @group settings-placeholders
/// ----------------------------------------------------------------------------

/// ----------------------------------------------------------------------------
/// Variables
/// ----------------------------------------------------------------------------

$border-radius: 0 !default;
$border-width: 1 !default;
$border-width-thin: 0.5 !default;
$border-style: solid !default;

$outline-blur-size: 0 !default;
$outline-fade: 20% !default; 
$outline-width: 2 !default;

/// ----------------------------------------------------------------------------
/// Mixins
/// ----------------------------------------------------------------------------

@mixin placeholder {
  &::placeholder {
    @content;
  }
}