/// ----------------------------------------------------------------------------
/// Global Typography Settings
/// @group settings-typography
/// ----------------------------------------------------------------------------

$font-family-monospace: Monaco, Courier New, monospace !default;
$font-family-primary: IBM Plex Mono, monospace !default;
$font-family-secondary: Swiss_721 W01, sans-serif !default;

$font: $font-family-secondary !default;
$font-heading: $font-family-primary !default;
$font-code: $font-family-monospace !default;

$font-letter-spacing: 0.125em;

$font-size: 14;
$font-size-base: 16;
$font-size-sm: 12;
$font-size-lg: $font-size-base;
$font-size-xlg: 18;
$font-size-xs: 10;

$font-size--heading-1: ceil($font-size * 2.71);
$font-size--heading-2: ceil($font-size * 2.14);
$font-size--heading-3: ceil($font-size * 1.71);
$font-size--heading-4: ceil($font-size * 1.42);
