# Dependency directories
node_modules/
jspm_packages/

# Ignore WordPress core files (Option B) -- needed for local dev
# See: https://wpengine.com/git/

*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific

# Needed for seamless local dev 
# app/public/wp-config.php

app/public/wp-content/uploads/
app/public/wp-content/blogs.dir/
app/public/wp-content/upgrade/*
app/public/wp-content/backup-db/*
app/public/wp-content/advanced-cache.php
app/public/wp-content/wp-cache-config.php
app/public/wp-content/cache/*
app/public/wp-content/cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate*
app/public/wp-content/object-cache.php
app/public/wp-content/mu-plugins/mu-plugin.php
app/public/wp-content/mu-plugins/slt-force-strong-passwords.php
app/public/wp-content/mu-plugins/stop-long-comments.php
app/public/wp-content/mu-plugins/force-strong-passwords*
app/public/wp-content/mu-plugins/wpengine-common*
app/public/wp-content/mysql.sql

# large/disallowed file types
# a CDN should be used for these
app/public/*.hqx
app/public/*.bin
app/public/*.exe
app/public/*.dll
app/public/*.deb
app/public/*.dmg
app/public/*.iso
app/public/*.img
app/public/*.msi
app/public/*.msp
app/public/*.msm
app/public/*.mid
app/public/*.midi
app/public/*.kar
app/public/*.mp3
app/public/*.ogg
app/public/*.m4a
app/public/*.ra
app/public/*.3gpp
app/public/*.3gp
app/public/*.mp4
app/public/*.mpeg
app/public/*.mpg
app/public/*.mov
app/public/*.webm
app/public/*.flv
app/public/*.m4v
app/public/*.mng
app/public/*.asx
app/public/*.asf
app/public/*.wmv
app/public/*.avi
