/// ----------------------------------------------------------------------------
/// This file contains all application-wide Sass variables.
/// @group variables
/// ----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

/// Asset path
/// @type {String}
$base-url: '../../../../../assets/';

/// Twelve
/// @type {Number}
$one-dozen: 12;

/// Thirteen
/// @require {variable} $one-dozen
/// @type {Number}
$bakers-dozen: $one-dozen + 1;

/// Grid column width
/// @type {Number}
$grid-column-width: 98;

// -----------------------------------------------------------------------------
// Breakpoints
// -----------------------------------------------------------------------------

/// Breakpoint: 320px
/// @type Number
$breakpoint-320: 320;

/// Breakpoint: 375px
/// @type Number
$breakpoint-375: 375;

/// Breakpoint: 414px
/// @type Number
$breakpoint-414: 414;

/// Breakpoint: 768px
/// @type Number
$breakpoint-768: 768;

/// Breakpoint: 834px
/// @type Number
$breakpoint-834: 834;

/// Breakpoint: 960px
/// @type Number
$breakpoint-960: 960;

/// Breakpoint: 1024px
/// @type Number
$breakpoint-1024: 1024;

/// Breakpoint: 1366px
/// @type Number
$breakpoint-1366: 1366;

/// Breakpoint: 1440px
/// @type Number
$breakpoint-1440: 1440;

/// Breakpoint: 1920px
/// @type Number
$breakpoint-1920: 1920;

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$black: #000000;
$white: #ffffff;

$transparent: rgba(0, 0, 0, 0);
$full-black: rgba(0, 0, 0, 1);
$dark-black: rgba(0, 0, 0, 0.7);
$light-black: rgba(0, 0, 0, 0.4);
$min-black: rgba(0, 0, 0, 0.6);
$faint-black: rgba(0, 0, 0, 0.2);
$full-white: rgba(255, 255, 255, 1);
$dark-white: rgba(255, 255, 255, 0.7);
$light-white: rgba(255, 255, 255, 0.4);

$color-react-blue: #61dafb;
$color-react-gray: #282c34;


$color-brand-cape-palliser: #aa7b3f;
$color-brand-cod-gray: #0a0a0a;
$color-brand-marble-brown: #3c312d;
$color-brand-rolling-stone: #6f767b;
$color-brand-silver-rust: #cbc3bc;
$color-brand-tussock: #bf8d4a;

// -----------------------------------------------------------------------------
// Maps
// -----------------------------------------------------------------------------

/// Grid configuration by device type
/// @type Map
$devices: (
  'desktop': (
    'columns': 3,
    'max-width': 75%
  ),
  'tablet': (
    'columns': 2,
    'max-width': 85%
  ),
  'mobile': (
    'columns': 1,
    'max-width': 90%
  )
);

/// Inner grid configuration by breakpoint
/// @require {function} grid-template-columns
/// @require {variable} $breakpoint-1920
/// @require {variable} $breakpoint-1440
/// @require {variable} $breakpoint-1366
/// @require {variable} $breakpoint-1024
/// @require {variable} $breakpoint-834
/// @require {variable} $breakpoint-768
/// @require {variable} $breakpoint-414
/// @require {variable} $breakpoint-375
/// @require {variable} $breakpoint-320
/// @type Map
$grid-layout: (
  $breakpoint-1920: (
    'gutter-width': 36,
    'type': 'desktop'
  ),
  $breakpoint-1440: (
    'gutter-width': 36,
    'type': 'desktop'
  ),
  $breakpoint-1366: (
    'gutter-width': 36,
    'type': 'desktop'
  ),
  $breakpoint-1024: (
    'gutter-width': 24,
    'type': 'tablet'
  ),
  $breakpoint-834: (
    'gutter-width': 24,
    'type': 'tablet'
  ),
  $breakpoint-768: (
    'gutter-width': 24,
    'type': 'tablet'
  ),
  $breakpoint-414: (
    'gutter-width': 12,
    'type': 'mobile'
  ),
  $breakpoint-375: (
    'gutter-width': 12,
    'type': 'mobile'
  ),
  $breakpoint-320: (
    'gutter-width': 12,
    'type': 'mobile'
  )
);
