/// ----------------------------------------------------------------------------
/// Default Theme
/// @group themes-default
/// ----------------------------------------------------------------------------

@import '../abstracts/_abstracts';

/// ----------------------------------------------------------------------------
/// Colors
/// ----------------------------------------------------------------------------

$color-alto: #d9d9d9;
$color-astral: #337ab7;
$color-elephant: #143d5a;

$color-status-positive: green;
$color-status-warning: yellow;
$color-status-danger: red;

$danger-color: $color-status-danger;
$default-color: $grey-200;
$primary-color: $color-brand-tussock;
$secondary-color: $color-astral;
$success-color: $color-status-positive;
$warning-color: $color-status-warning;

$body-background: $white;
$component-background: $white;
$gradient-background: linear-gradient(to right, $color-brand-cape-palliser, $color-brand-tussock);

$disabled-color: $grey-300;
$disabled-color-dark: fade($white, 35%);

/// ----------------------------------------------------------------------------
/// Spacing
/// ----------------------------------------------------------------------------

$height: 28;
$height-sm: $one-dozen * 2;
$height-lg: $height-sm + 8;

$spacing-xlg: $one-dozen + 6;
$spacing-lg: $one-dozen + 4;
$spacing-md: $one-dozen - 4;
$spacing-sm: $one-dozen - 6;
$spacing-xs: $one-dozen - 8;
$spacing-xxs: 0;

$padding-default-lg: $one-dozen * 2;
$padding-default-md: $spacing-lg;
$padding-default-sm: $one-dozen;
$padding-default-xs: $spacing-md;
$padding-default-xxs: $spacing-xs;

$form-control-padding-h: $spacing-md;
$form-control-padding-h-sm: $spacing-xs;

$form-control-padding-v: 0;

$full-width: 100%;

/// ----------------------------------------------------------------------------
/// Typography
/// ----------------------------------------------------------------------------

$font-family-code: Monaco, Courier New, monospace;
$font-family-primary: IBM Plex Mono, monospace;
$font-family-secondary: Swiss_721 W01, sans-serif;

$font-size: $one-dozen + 2;
$font-size-lg: $one-dozen + 4;
$font-size-sm: $one-dozen;
$font-size-xs: $one-dozen - 2;

$heading-size-1: ceil($font-size * 2.71);
$heading-size-2: ceil($font-size * 2.14);
$heading-size-3: ceil($font-size * 1.71);
$heading-size-4: ceil($font-size * 1.42);

$letter-spacing: 0.125em;

/// ----------------------------------------------------------------------------
/// Borders & Outlines
/// ----------------------------------------------------------------------------

$border-color: $color-alto;
$border-color-inverse: $white;
$border-radius: 2;
$border-width: 1;
$border-width-thin: 0.5;
$border-style: solid;

$outline-blur-size: 0;
$outline-color: $primary-color;
$outline-fade: 20%;
$outline-width: 2;

/// ----------------------------------------------------------------------------
/// Headings & Text
/// ----------------------------------------------------------------------------

$heading-color: fade($black, 85%);
$heading-color-dark: fade($white, 100%);

$text-color: $color-brand-cod-gray;
$text-color-dark: $white;
$text-color-inverse: $white;
$text-color-primary: $color-brand-tussock;

$floorplans-grid-title-size: 32;

/// ----------------------------------------------------------------------------
/// Animation
/// ----------------------------------------------------------------------------

$animation-duration: 0.2s;
$animation-duration-fast: 0.1s;
$animation-duration-slow: 0.3s;

$ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1);
$ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7);
$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

/// ----------------------------------------------------------------------------
/// Atoms
/// ----------------------------------------------------------------------------

/// ----------------------------------------------------------------------------
/// Button
/// ----------------------------------------------------------------------------

$button-font-size: $font-size;
$button-font-weight: 400;
$button-padding: size($padding-default-xs) size($padding-default-sm);

$button-primary-bkg: $primary-color;
$button-primary-color: $white;

$button-default-bkg: $grey-200;
$button-default-color: $grey-500;

$button-danger-bkg: $color-status-danger;
$button-danger-color: $white;

$button-disabled-bkg: $grey-200;
$button-disabled-color: $grey-600;

/// ----------------------------------------------------------------------------
/// Input
/// ----------------------------------------------------------------------------

$input-border-color: $border-color;
$input-border-color-active: $input-border-color;
$input-border-color-hover: $input-border-color-active;
$input-border-color-success: $color-status-positive;
$input-border-color-error: $color-status-danger;

$input-border-radius: 0;

$input-display: block;

$input-default-bkg: $component-background;
$input-default-color: $black;

$input-disabled-bkg: $button-disabled-bkg;
$input-disabled-color: $button-disabled-color;

$input-height: $height;

$input-icon-color: $input-default-color;

$input-padding-h: $form-control-padding-h;
$input-padding-v: $form-control-padding-v;

$input-outline: none;

$input-placeholder-color: $grey-500;

$input-width: available;
$input-width-moz: -moz-available;

/// ----------------------------------------------------------------------------
/// Link
/// ----------------------------------------------------------------------------

$link-color: $primary-color;
$link-color-inverse: $text-color-inverse;

$link-decoration: none;
$link-decoration-focus: none;
$link-decoration-hover: none;

$link-font-size: $font-size;

$link-outline-focus: 0;

$floorplan-link-size: $bakers-dozen;

/// ----------------------------------------------------------------------------
/// Span
/// ----------------------------------------------------------------------------

$labeled-form-element-description-color: $grey-600;

/// ----------------------------------------------------------------------------
/// Summary
/// ----------------------------------------------------------------------------

/// ----------------------------------------------------------------------------
/// TextArea
/// ----------------------------------------------------------------------------

$textarea-height: $height-lg * 3;

$textarea-padding-v: $spacing-md;

$textarea-width: $full-width;

/// ----------------------------------------------------------------------------
/// Molecules
/// ----------------------------------------------------------------------------

/// ----------------------------------------------------------------------------
/// Article
/// ----------------------------------------------------------------------------

$floorplan-bkg: $color-brand-silver-rust;

/// ----------------------------------------------------------------------------
/// Form
/// ----------------------------------------------------------------------------

$floorplans-search-form-height: $font-size-sm * 1.75;

/// ----------------------------------------------------------------------------
/// Item
/// ----------------------------------------------------------------------------

$item-danger-bkg: $danger-color;
$item-danger-color: $white;

$item-default-bkg: $secondary-color;
$item-default-color: $text-color;

$item-hover-color: #f5f5f5;

/// ----------------------------------------------------------------------------
/// Select
/// ----------------------------------------------------------------------------

$select-height: max-content;

/// ----------------------------------------------------------------------------
/// TableHead
/// ----------------------------------------------------------------------------

$thead-width: $full-width;

/// ----------------------------------------------------------------------------
/// Organisms
/// ----------------------------------------------------------------------------

/// ----------------------------------------------------------------------------
/// Header
/// ----------------------------------------------------------------------------

/// ----------------------------------------------------------------------------
/// Templates
/// ----------------------------------------------------------------------------

/// ----------------------------------------------------------------------------
/// Abstracts
/// ----------------------------------------------------------------------------

/// Commont Input styles
/// @require {function} size
/// @require {mixin} color
/// @require {mixin} event
/// @require {mixin} fill-available
/// @require {mixin} font-size
/// @require {mixin} text-color
/// @require {mixin} width
/// @require {variable} $border-radius
/// @require {variable} $border-style
/// @require {variable} $border-width
/// @require {variable} $component-background
/// @require {variable} $font-family-primary
/// @require {variable} $font-family-secondary
/// @require {variable} $font-size-sm
/// @require {variable} $input-border-color
/// @require {variable} $input-border-color-active
/// @require {variable} $input-border-color-focus
/// @require {variable} $input-border-radius
/// @require {variable} $input-display
/// @require {variable} $input-default-bkg
/// @require {variable} $input-default-color
/// @require {variable} $input-height
/// @require {variable} $input-outline
/// @require {variable} $input-padding-h
/// @require {variable} $input-padding-v
/// @require {variable} $input-placeholder-color
/// @require {variable} $input-width
/// @require {variable} $input-width-moz
/// @require {variable} $letter-spacing
/// @require {variable} $white
@mixin input-base-styles {
  @include color($input-default-color, $input-default-bkg, text_important);

  @include event {
    cursor: pointer;
  }

  @include fill-available;

  @include font-size($font-size-sm);

  border: size($border-width) $border-style $input-border-color;
  border-radius: size($input-border-radius);
  display: $input-display;
  outline: $input-outline;
  padding: size($input-padding-v) size($input-padding-h);

  &:active,
  &:focus {
    border-color: $input-border-color-active;
  }

  &:hover {
    border-color: $input-border-color-hover;
  }

  &::placeholder {
    @include text-color($input-placeholder-color);
  }
}

/// ----------------------------------------------------------------------------
/// Styles
/// ----------------------------------------------------------------------------

*[role='button'] {
  @include flex(inline-flex, center, center);

  @include font-size($button-font-size);

  padding: $button-padding;
}

*[role='link'] {
  @include color($link-color);

  @include font-weight(600);
}

.danger {
  @include set-bkg-color-and-hover($danger-color);
}

.primary {
  @include set-bkg-color-and-hover($primary-color);
}

.secondary {
  @include set-bkg-color-and-hover($secondary-color);
}

.success {
  @include set-bkg-color-and-hover($success-color);
}

.warning {
  @include set-bkg-color-and-hover($warning-color);
}

.gradient-bkg {
  background: $gradient-background;
}

.lg {
  @include font-size($font-size-lg);
}

.sm {
  @include font-size($font-size-sm);
}

.xs {
  @include font-size($font-size-xs);
}

.danger,
.primary,
.secondary,
.success,
.warning,
.gradient-bkg {
  @include text-color($text-color-inverse);
}
