/// ----------------------------------------------------------------------------
/// @group Button
/// @link http://css-tricks.com/slightly-careful-sub-elements-clickable-things/
/// ----------------------------------------------------------------------------

/// ----------------------------------------------------------------------------
/// Base
/// ----------------------------------------------------------------------------

@mixin mb-button {
  .mb-ada-button {
    @extend %mb-button-base;
    @include mb-button-pattern;
  }

  %mb-button-base {
    @include flex(inline-flex, center, space-between);

    @include font-size($font-size);

    @include no-breaking;

    @include remove-border;

    @include transition(all, 0.25s, ease-in-out);

    cursor: pointer;
    font-family: $font-family-secondary;
    outline: none;
    padding: $sp-button-padding-list;

    > * {
      pointer-events: none;
    }
  }

  .mb-form--floorplan-search .mb-ada-button[type='submit'] {
    min-width: 13%;
  }

  @media screen and (min-width: size($breakpoint-1920)) {
    .mb-form--floorplan-search .mb-ada-button[type='submit'] {
      max-width: 10%;
      min-width: 10%;
    }
  }

  @media screen and (max-width: size($breakpoint-768)) {
    .mb-form--floorplan-search .mb-ada-button[type='submit'] {
      @include is-full-width;
    }
  }
}

/// ----------------------------------------------------------------------------
/// UI Patterns
/// ----------------------------------------------------------------------------

@mixin mb-button-pattern(
  $color-button-background: $color-grey-200,
  $color-button-text: $color-grey-500,
  $color-button-background-disabled: $color-state-disabled,
  $color-button-border: $color-transparent,
  $color-button-border-disabled: $color-transparent,
  $color-button-background-hover: darken($color-button-background, 3%),
  $color-button-border-hover: $color-transparent
) {
  @include set-bkg-color-and-hover(
    $color-button-background, 
    $color-button-background-hover
  );

  border-color: $color-button-border;
  color: $color-button-text;

  &[disabled],
  &.is-disabled {
    @include set-bkg-color-and-hover($color-button-background-disabled);

    border-color: $color-button-border-disabled;
    cursor: not-allowed;
  }
}

@mixin mb-button-gradient {
  %mb-button--gradient {
    background: $color-theme--background-gradient;
    color: $color-theme--text-inverse;
  }
  
  .mb-ada-button.mb-button--gradient {
    @extend %mb-button--gradient;
  }
}

@mixin mb-button-form {
  %mb-button--form {
    @include font-size($font-size-sm);

    @include font-weight(500);

    @include mb-button-pattern(
      $color-theme--background-dark-alt,
      $color-theme--link
    );

    &[type='submit'] {
      @include font-weight(600);

      @include is-flex-centered;
    }
  }

  .mb-ada-button.mb-button--form {
    @extend %mb-button--form;
  }

  .mb-form--floorplan-search .mb-button--form {
    @include height(size($input-height));
  }
}

@mixin mb-button-transparent {
  %mb-button--transparent {
    @include mb-button-pattern(
      $color-transparent,
      $color-theme--text,
      $color-transparent
    );

    @include remove-padding;
  }

  .mb-ada-button.mb-button--transparent {
    @extend %mb-button--transparent;
  }
}

/// ----------------------------------------------------------------------------
/// Export
/// ----------------------------------------------------------------------------

@mixin mb-buttons {
  @include mb-button;
  @include mb-button-form;
  @include mb-button-gradient;
  @include mb-button-transparent; 
}