/// ----------------------------------------------------------------------------
/// @group Image
/// ----------------------------------------------------------------------------

/// ----------------------------------------------------------------------------
/// Base
/// ----------------------------------------------------------------------------

@mixin mb-image {
  .mb-ada-image {
    @extend %mb-image-base;
  }

  %mb-image-base {
    @include is-full-width;

    cursor: pointer;

    &.react-logo-spin {
      @include constrain(50%);

      pointer-events: none;
    }
  }
}

/// ----------------------------------------------------------------------------
/// UI Patterns
/// ----------------------------------------------------------------------------

@mixin mb-image-floorplan {
  %mb-image--floorplan {
    background-color: $color-theme--background;
  }

  .mb-ada-image.mb-image--floorplan {
    @extend %mb-image--floorplan;
  }
}

/// ----------------------------------------------------------------------------
/// Export
/// ----------------------------------------------------------------------------

@mixin mb-images {
  @include mb-image;
  @include mb-image-floorplan;
}
