/// ----------------------------------------------------------------------------
/// @group Paragraph
/// ----------------------------------------------------------------------------

/// ----------------------------------------------------------------------------
/// Base
/// ----------------------------------------------------------------------------

@mixin mb-paragraph {
  .mb-ada-paragraph {
    @extend %mb-paragraph-base;
    @include mb-paragraph-pattern;
  }

  %mb-paragraph-base {
    font-family: $font-family-secondary;
  }
}

/// ----------------------------------------------------------------------------
/// UI Patterns
/// ----------------------------------------------------------------------------

@mixin mb-paragraph-pattern(
  $paragraph-pattern-color: $color-theme--text-alt,
  $paragraph-pattern-font-size: 1.1rem,
  $paragraph-pattern-font-weight: 100,
  $paragraph-pattern-margin: 0 0 size(20) 0,
  $paragraph-pattern-line-height: 1.45rem,
  $paragraph-pattern-letter-spacing: normal,
  $paragraph-pattern-text-transform: normal,
  $paragraph-pattern-background-color: $color-transparent,
  $paragraph-pattern-background-color-hover: $color-transparent,
  
) {
  @include set-bkg-color-and-hover(
    $paragraph-pattern-background-color, 
    $paragraph-pattern-background-color-hover
  );

  color: $paragraph-pattern-color;
  font-size: $paragraph-pattern-font-size;
  letter-spacing: $paragraph-pattern-letter-spacing;
  line-height: $paragraph-pattern-line-height;
  margin: $paragraph-pattern-margin;
  text-transform: $paragraph-pattern-text-transform;
}

@mixin mb-paragraph-floorplan {
  %mb-paragraph--floorplan {
    color: $color-theme--text;
  }

  .mb-ada-paragraph.mb-paragraph--floorplan {
    @extend %mb-paragraph--floorplan;

    &--details {
      margin: size($sp-md) 0 size($sp-padding-sm * 1.75);
    }

    &--rent {
      @include font-size($font-size-lg * 2);

      font-family: $font-family-primary;
      line-height: 2.7rem;
    }

    &--sqft {
      font-weight: 700;
      margin-bottom: size($sp-sm);
    }

    &--details,
    &--rent {
      font-weight: 300;
    }

    &--details,
    &--rent,
    &--sqft {
      @extend %mb-paragraph--floorplan;
    }
  }
}

@mixin mb-paragraph-subheading {
  %mb-paragraph--subheading {
    @include font-size($font-size-lg * 2);

    font-family: $font-family-primary;
    line-height: 2.7rem;
  }

  .mb-ada-paragraph.mb-paragraph--subheading {
    @extend %mb-paragraph--subheading;
  }
}

/// ----------------------------------------------------------------------------
/// Export
/// ----------------------------------------------------------------------------

@mixin mb-paragraphs {
  @include mb-paragraph;
  @include mb-paragraph-floorplan;
  @include mb-paragraph-subheading;
}