/// ----------------------------------------------------------------------------
/// Size Helpers
/// @group helpers-size
/// ----------------------------------------------------------------------------

@import '../utils/size.utils';

.fill-available {
  &--height {
    height: stretch;
    height: -webkit-fill-available;
    height: -moz-available;
  }

  &--min-height {
    min-height: stretch;
    min-height: -webkit-fill-available;
    min-height: -moz-available;
  }

  &--min-width {
    min-height: stretch;
    min-height: -webkit-fill-available;
    min-height: -moz-available;
  }

  &--width {
    width: stretch;
    width: -webkit-fill-available;
    width: -moz-available;
  }
}

.is-full {
  &--height {
    height: 100%;
  }

  &--screen {
    height: 100vh;
    width: 100vw;
  }

  &--width {
    width: 100%;
  }
}

.is-stretched {
  height: 100%;
  width: 100%;
}

.no-max {
  &--height {
    max-height: unset !important;
  }

  &--width {
    max-width: unset !important;
  }
}

.no-max-height {
  max-height: unset !important;
}

.no-max-width {
  max-width: unset !important;
}
