/// ----------------------------------------------------------------------------
/// Spacing Helpers
/// @group helpers-spacing
/// ----------------------------------------------------------------------------

.no-margin {
  $value: 0 !important;

  margin: $value;

  &--top {
    margin-top: $value;
  }

  &--right {
    margin-right: $value;
  }

  &--bottom {
    margin-bottom: $value;
  }

  &--left {
    margin-left: $value;
  }
}

.no-padding {
  $value: 0 !important;

  padding: $value;

  &--top {
    padding-top: $value;
  }

  &--right {
    padding-right: $value;
  }

  &--bottom {
    padding-bottom: $value;
  }

  &--left {
    padding-left: $value;
  }
}