/// ----------------------------------------------------------------------------
/// @group Section
/// ----------------------------------------------------------------------------

/// Component: Section
/// @require {mixin} is-full-width
%Section {
  @include is-full-width;
}

%FloorplansGrid {
  $grid-padding: $sp-padding-lg * 2.5;

  @include display-flex;

  @include is-flex-centered;

  @include is-full-height;

  @include respond-to($breakpoint-1024) {
    padding: size($grid-padding) size($grid-padding * 0.5);
  }

  @include set-bkg-img('woodmont-marble-bg-901x1024.jpg');

  flex-direction: column;
  padding: size($grid-padding);
}

// Styles

.mb-ado-section {
  @extend %Section;
}

.mb-ado-section.mb-section--floorplans-grid {
  @extend %FloorplansGrid;
}

// Responsive Styles

// Desktop

// Tablet

// Mobile
