/// ----------------------------------------------------------------------------
/// This file contains very basic styles.
/// @group base-common
/// ----------------------------------------------------------------------------

// Set up a decent box model on the root element
// Prevent scrolling
html {
  box-sizing: border-box;
  overflow: hidden;
}

// Attach universal properties
// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
* {
  $box-sizing: inherit;

  @include transition(all, 0.125s);

  box-sizing: $box-sizing;

  &[disabled] {
    @include event {
      cursor: not-allowed;
    }
  }

  &::before,
  &::after {
    box-sizing: $box-sizing;
  }

  &::-webkit-scrollbar {
    @include is-hidden;
  }
}

// Set default font and font color
// Remove default margins
// Allow pages to scroll vertically only
body {
  @include no-margin(important);

  overflow: {
    x: hidden;
    y: scroll;
  }
}

// Remove margins
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

// Remove default anchor link styles
a {
  text-decoration: none;
}

// Make child and descendant span elements in pargraphs bold
p {
  span {
    font-weight: 600;
  }
}

a,
button,
*[role='button'],
*[role='link'] {
  @include event {
    cursor: pointer;

    *:not(.adm-select) > * {
      pointer-events: none;
    }
  }
}
