/// ----------------------------------------------------------------------------
/// Positioning Utilities
/// @group utils-positioning
/// ----------------------------------------------------------------------------

/// ----------------------------------------------------------------------------
/// Mixins
/// ----------------------------------------------------------------------------

/// Shorthand for absolute positioning.
/// @require {mixin} position
/// @param {List} $args - Offsets
@mixin absolute($args...) {
  @if $args {
    @include position(absolute, $args...);
  } @else {
    @include position(absolute);
  }
}

/// Shorthand for fixed positioning.
/// @require {mixin} position
/// @param {List} $args - Offsets
@mixin fixed($args...) {
  @if $args {
    @include position(fixed, $args...);
  } @else {
    @include position(fixed);
  }
}

/// Center items in container using margin properties
/// @param {Boolean} $important [false] - If true, add !important
@mixin is-centered($important: false) {
  $margin: 0 auto;

  margin: if($important, $margin !important, $margin);
}

/// Shorthand for positioning.
/// @access private
/// @param {String} $position - Position type - `absolute` |`fixed` | `relative`
/// @param {Length} $top [null] - Top offset
/// @param {Length} $right [null] - Right offset
/// @param {Length} $bottom [null] - Bottom offset
/// @param {Length} $left [null] - Left offset
@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  bottom: $bottom;
  left: $left;
  position: $position;
  right: $right;
  top: $top;
}

/// Shorthand for relative positioning.
/// @require {mixin} position
/// @param {List} $args - Offsets
@mixin relative($args...) {
  @if $args {
    @include position(relative, $args...);
  } @else {
    @include position(relative);
  }
}

/// Shorthand for sticky positioning.
/// @require {mixin} position
/// @param {List} $args - Offsets
@mixin sticky($args...) {
  @if $args {
    @include position(sticky, $args...);
  } @else {
    @include position(sticky);
  }
}
